html {
  background-image: url('/img/bgr_daytime.png');
}

h1, h2, h3, h4, h5 {
  color: #6137d3;
}

.caption {
  color: #340f99;
  margin-bottom: 50px;
  line-height: 1.7rem;
}

.logo {
  display: block;
  margin: 0 auto;

  position: absolute;
  top : 0;
  left: calc(50% - 200px);

  width: 400px;
}

a{
  text-decoration: none;
  color: #6137d3;
  font-weight: bold;
  border-bottom: 1px solid #6137d3;
}

b {
  color: #333;
}

.contents {
  margin: 50px 0;
  text-align: left;
  line-height: 2rem;
}

.example {
  text-align: left;

  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 70px;
  margin: 35px;


  line-height: 2rem;
}

.container {
  display: block;
  margin: 100px auto;
  padding: 100px 120px 0 120px;
  width: 1000px;

  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.img-wrapper {
  display: block;
  max-width: 720px;
  margin: auto;
}

.imgs {
  width: 100%;
  margin-bottom: 20px;
}

.sketch {
  display: block;
  width: 300px;
  margin: auto;
  vertical-align: top;
}

footer {
  padding: 100px 0 50px 0;
}

@media (max-width : 1024px) {
  .container{
    width: 96%;
    margin: 100px 2%;
    padding: 100px 10% 0 10%;
  }

  .logo {
    left: calc(50% - 180px);
    width: 360px;
  }
}
