html {
  background-image: url('/img/bgr_nighttime.png');
  color: white;
}

.youtube {
  margin: 30px auto;
  width: 100%;
  max-width: 560px;
}

.container {
  display: block;
  margin: 100px auto;
  padding: 100px 120px 0 120px;
  width: 1000px;

  background-color: rgba(0, 0, 0, 0.9);
}


.logo {
  display: block;
  margin: 0 auto;

  position: absolute;
  top : 0;
  left: calc(50% - 170px);

  width: 340px;
}

@media (max-width : 1024px) {
  .container{
    width: 96%;
    margin: 100px 2%;
    padding: 100px 10% 0 10%;
  }

  .logo {
    left: calc(50% - 170px);
    width: 340px;
  }

}
