<div class="col-60 m-col-100">
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/Kxo_DQ2rC0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<div class="col-40 m-col-100">
  {% for post in site.posts limit:3 %}
  <li class="post-list">
    <a class="post-list-wrapper" href="{{ post.url }}">
      <span class="post-list-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <div class="post-list-title">{{ post.title }}</div>
      </a>
    </li>
  {% endfor %}
</div>

<div class="col-100">
<a href="{{ site.url }}/story"><h1>HOTEL SOWLS</h1></a>
<img class="separator" src='/img/separator.png' alt="separator">

  You are a pharmacologist. 
  While looking at a newspaper published a century ago for a new study,
  You read an article that a mysterious stone was found in "Sowls" region.
  It is said that the stone makes small sound with light and feels like talking to a person who holding the stone in the hand.
  You thought it was clear that the stone is a rare and valuable pharmaceutical ingredient
  From that day, you wander through all kinds of places looking for the stone.
<br><br>
You managed to get a valuable and mysterious stone after a hard journey.
You decided to take a break at the Hotel Sowls.
But the next morning, someone in the hotel stole the stone!
  <br><br>
  Who in the hotel took the stone? for what purpose?
  Can you find a stone in this strange and mysterious hotel and find out the secret of the hotel?
If you can't...? Various endings are waiting for you.


</div>
<div class="col-100">
  <a href="{{ site.url }}/gallery"><h1>GALLERY</h1></a>
  <img class="separator" src='/img/separator.png' alt="separator">
  <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (1).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (1).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">A mysterious stone found in an old newspaper! If I get this stone, I think noval prize is only a matter of time.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (3).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (3).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">Don't let the chickens fall into the lake.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (4).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (4).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">The scalpel is a good tool for cutting meat.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (5).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (5).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">a bargain failure.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (2).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (2).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">Why is the bartender reading tarot?</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (6).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (6).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">There is a delicious salmon in the water.</figcaption>
    </figure>
  </div>
</div>

{% include gallary.html %}
