---
title: 홈
layout: default
---
<div class="col-60 m-col-100">
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/Kxo_DQ2rC0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<div class="col-40 m-col-100">
  {% for post in site.posts limit:3 %}
  <li class="post-list">
    <a class="post-list-wrapper" href="{{ post.url }}">
      <span class="post-list-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <div class="post-list-title">{{ post.title }}</div>
      </a>
    </li>
  {% endfor %}
</div>

<div class="col-100">
<a href="{{ site.url }}/story"><h1>HOTEL SOWLS</h1></a>
<img class="separator" src='/img/separator.png' alt="separator">

당신은 약학자입니다.
새로운 연구를 위해 1세기 전에 발행된 신문을 보던 중, 신비한 ‘돌’이 소울즈 지방에서 발견됐다는 기사를 읽게 됩니다.
그 '돌'은 빛과 함께 작은 소리가 나며 손에 든 사람에게 말을 거는 듯한 느낌을 준다고 합니다.
희귀하고 귀중한 약학재료인 것이 분명하다고 생각한 당신은 그 날부터 온갖 곳을 수소문하며 '돌'을 찾아 헤맵니다.
<br><br>
고된 여정 끝에 그 ‘돌’을 구하는데 성공한 당신은 획기적인 연구로 유명해질 것을 기대하며 근처 호텔에서 쉬었다 가기로 합니다.
그러나 다음 날 아침, 당신의 소중한 ‘돌’이 사라지고 맙니다…
<br><br>
호텔의 누가, 무슨 목적으로 그 ‘돌’을 가져갔을까요?
과연 당신은 호텔의 비밀을 풀고 무사히 ‘돌’을 찾아 연구를 진행할 수 있을까요?
만약 아니라면…?

다양한 결말이 당신을 기다리고 있습니다.

</div>

<div class="col-100">
  <a href="{{ site.url }}/gallery"><h1>GALLERY</h1></a>
  <img class="separator" src='/img/separator.png' alt="separator">
  <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (1).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (1).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">낡은 신문에서 발견한 신비한 돌! 이 돌만 얻는다면 노발상도 시간 문제일 것 같습니다.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (3).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (3).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">닭들을 호수에 빠트리면 안 돼요.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (4).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (4).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">메스는 고기를 자르기 좋은 도구입니다.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (5).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (5).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">흥정 실패.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (2).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (2).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">왜 바텐더가 점을 보는거야?</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="\img\screenshot\image (6).jpg" itemprop="contentUrl" data-size="620x349">
          <img src="\img\screenshot\image (6).jpg" itemprop="thumbnail">
      </a>
      <figcaption itemprop="caption description">맛 좋은 연어가 물에 들어가 있어요.</figcaption>
    </figure>
  </div>
</div>

{% include gallary.html %}
