{% include analytics.html %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} :: 호텔 소울즈</title>
<meta name="description" content="Hotel Sowls">
<meta name="author" content="Studio Sott">
<link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/grid.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<script type="text/javascript" src="/js/script.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<meta property="og:url" content="http://hotelsowls.com"></meta>
<meta property="og:title" content="{{ page.title }} :: 호텔 소울즈"></meta>
<meta property="og:description" content="Hotel Sowls Official Site"></meta>
<meta property="og:image" content="http://hotelsowls.com/img/screenshot/cover.jpg"></meta>
<meta property="og:image:width" content="620"></meta>
<meta property="og:image:height" content="465"></meta>
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://hotelsowls.com"></meta>
<meta name="twitter:title" content="{{ page.title }} :: 호텔 소울즈"></meta>
<meta name="description" content="Hotel Sowls Official Site"></meta>
<meta name="twitter:image" content="http://hotelsowls.com/img/screenshot/cover.jpg"></meta>
