<!DOCTYPE html>
<html lang="kr">
  <head>
    {% include top.html %}
    <link rel="stylesheet" href="/css/post.css">
    <script type="text/javascript" src="/js/script.js"></script>
  </head>

  <body>
    <div id="bg"></div>
    <div class="container">
       <a href= "{{ site.url }}"><img class="logo" src="{{ site.url }}/img/logo_white.png"></a>
       {% include nav.html %}
       <div class="page-wrapper">
         <div class="post-title">{{ page.title }}</div>
          <span class="post-date">{{ page.date  | date: "%Y-%m-%d" }}
            <span class="post-author">{{ page.author }}</span>
          </span>

          <div class="post-content">{{ content }}</div>

          <div>
            {% if page.previous %}
            <div class="post-navi previous-post">
              <a href="{{ site.baseurl }}{{ page.previous.url }}"><i class="fas fa-angle-left"></i> {{ page.previous.title }}</a>
            </div>
            {% endif %}
            {% if page.next %}
            <div class="post-navi next-post">
              <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} <i class="fas fa-angle-right"></i></a>
            </div>
            {% endif %}
        </div>
        <div class="under-space"></div>
      </div>
    </div>
    <footer>
      Copyright © 2018 Studio Sott
    </footer>
    <div id="character"></div>
  </body>
</html>
