<!DOCTYPE html>
<html lang="kr">
  <head>
    {% include top.html %}
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Hotel Sowls">
    <meta name="author" content="Studio Sott">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800" rel="stylesheet">
    <link rel="stylesheet" href="css/special-page.css">
  </head>

  <body>
    <div class="container" style="color:#333;">
      <a href= "{{ site.url }}"><img class="logo" src="{{ site.url }}/img/logo_black.png"></a>
      <br>
      {{ content }}
      <footer>
        Copyright © Studio Sott
      </footer>
      <div id="character"></div>
    </div>
  </body>
</html>
